
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>

    <header> 
        <!--This is nav-->
        
        <nav class="navbar navbar-expand-lg navbar-success container">
            <a class="navbar-brand w-5" href="{% url 'home' %}">
                <img src="{% static 'images/acc.jpg' %}" class="img-fluid logo-img" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'meallist' %}">Meal List</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

          {% block content %}   
          <h1 class="text-center mb-5 mt-5">This is home page. Find your Meal List click the <b class="text-primary">Meal List</b>.</h1>
          {% endblock %}

    </header>
    <!--This is banner page-->

    <div id="carouselExample" class="carousel slide container">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/food_1.jpg' %}" class="d-block w-100 img-fluid" alt="food_1">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/food_2.jpg' %}" class="d-block w-100 img-fluid" alt="food_2">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/food_3.jpg' %}" class="d-block w-100 img-fluid" alt="food_3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <!-- <span class="visually-hidden">Previous</span> -->
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <!-- <span class="visually-hidden">Next</span> -->
      </button>
    </div>
   
    
    <!--This is footer section-->
    <footer class="container text-center mt-5">
      <p class="fs-5">Copyright &copy; | Meal List Site</p>
      <p class="fs-5">Dhaka, Bangladesh</p>      
    </footer>
    
    



    


    
    <script src="{% static 'js/homejs.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>  
</body>
</html>